html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Gotham";
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  color: var(--primaryColor);
  overflow-x: hidden;
}

:root {
  --primaryColor: #1a1a1a;
  --secondaryColor: #920061;
  --forWebsitePrimaryColor: #920061;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --lightPrimaryColo: #fce2ff;
  
  --SuccessColorBg: rgba(84, 214, 44, 0.16);
  --SuccessColor: #69C848;
  --DangerColorBg: rgba(255, 72, 66, 0.16);
  --DangerColor: #D64532;
  --yellowColor: #FCB200;
  --yellowColorBg: #fbf0d6;
  --primaryBadgeColor: #35BAE9;
  --primaryBadgeBg: #e1f4fb;
  --orangeColor: #e97735;

  --lightThemeColor: #e1f4fb;
}

@mixin transition($x...) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

.theme-bg {
  min-height: 100vh;
}

.secondary-text {
  color: var(--secondaryColor);
}

a,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include transition(all ease-in-out 0.3s);
  cursor: pointer;
  text-decoration: none;

  &.secondary-text {
    &:hover {
      color: var(--secondaryColor);
    }
  }
}

.row{margin: 0 -15px;
  >div[class*="col"]{padding: 0 15px;}
  &.row-col-5{
    >div[class*="col"]{flex: 0 0 20%;max-width: 20%;}
  }
}

img {
  max-width: 100%;
}
.repeat-section {
  padding: 9rem 0;
}
.bg-section {
  background-color: #f2f2f2;
}
.bg-dark-section {
  background: var(--forWebsitePrimaryColor);
  color: var(--whiteColor);
}
.bg-dark-section {
  .section-title p{
    color: var(--whiteColor);
  }
}
.mt-40 {
  margin-top: 4rem;
}
.f-14 {
  font-size: 14px;
}
.f-20 {
  font-size: 2rem;
}
h5 {
  font-size: 2.4rem;
  margin-bottom: 2.2rem;
}
ul.list-design {
  list-style: none;
  margin: 0 0 3rem;
  padding: 0;
  li {
    font-size: 1.8rem;
    color: var(--primaryColor);
    margin-bottom: 2rem;
    position: relative;
    padding-left: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: "✔";
      width: 2rem;
      height: 2rem;
      background-color: var(--primaryColor);
      border-radius: 100%;
      color: #fff;
      position: absolute;
      left: 0;
      top: 3px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &.yellow-check{
    li{color: var(--whiteColor);
      &:before {
        background: var(--yellowColor);
      }
    }
  }
  &.ticks-list2.yellow-check {
    li{color: var(--primaryColor);}
  }
  &.purple-check{
    li{
      &:before {
        background: var(--secondaryColor);
      }
    }
  }
}

.react-datepicker{border-color: var(--secondaryColor)!important;border-radius: 1rem!important;}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, 
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after{border-bottom-color: var(--secondaryColor)!important;}
.react-datepicker__header{background: #ffe1f5!important;border-bottom-color: var(--secondaryColor)!important;border-radius: 1rem 1rem 0 0!important;}
.react-datepicker{font-size: 14px!important;}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{width: 2.7rem!important;margin: .5rem!important;line-height: 2.7rem!important;}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{font-size: 1.5rem!important;}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{background: var(--secondaryColor)!important;}
.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before{border-color: var(--secondaryColor)!important;top: 12px!important;}
.react-datepicker__input-container::after{content: "";width: 1.8rem;height: 1.9rem;background: url(./assets/images/calender-icon.svg) no-repeat; background-size: 100% 100%;position: absolute;right: 2rem;top: 50%;transform: translateY(-50%);}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before, 
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after{border-top-color: var(--secondaryColor)!important;}
.react-datepicker__current-month, 
.react-datepicker-time__header, 
.react-datepicker-year-header{color: var(--secondaryColor);}

.Toastify__toast{font-family: "Gotham"!important;}

.white-icon{filter: brightness(0) invert(1);}
.icon-dark{filter: brightness(0);}

iframe[style*="fixed"] {
  display: none;
}

.badge{font-size: 12px;min-width: 9rem;border-radius: 6px; display: inline-flex; align-items: center; justify-content: center;padding: .7rem .9rem;
  svg{font-size: 2rem;margin-right: .3rem;}
  &.badge-success{background-color: var(--SuccessColorBg);color: var(--SuccessColor);}
  &.badge-danger{background-color: var(--DangerColorBg);color: var(--DangerColor);}
  &.badge-warning{background-color: var(--yellowColorBg);color: var(--yellowColor);}
  &.badge-primary{background-color: var(--primaryBadgeBg);color: var(--primaryBadgeColor);}
  &.badge-purple{background-color: #d8c2f0;color: #9B55E5;}
  &.badge-pink{background-color: #ffb7d1;color: #F9327A;}
}

.f-20{font-size: 2rem;}
.text-success{color: var(--SuccessColor)!important;}

.cursor-pointer{cursor: pointer;}
.word-wrap{word-break: break-all;}
.no-wrap,
.no-wrap-table tr th{white-space: nowrap;}

.Toastify__toast-theme--colored.Toastify__toast--success{background: var(--primaryBadgeColor);}


@media screen and (max-width: 1450px) {
  html {
    font-size: 55.5%;
  }
}



@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1366px;
  }
}

@media (min-width: 1400px) {
  .container-fluid {
    max-width: 1700px;
  }
}